/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1{
    text-align: center;
    color: black;
    background-color: #3e6b48;
    font-family: Arial, Helvetica, sans-serif;
    }

body{
    margin: auto;
    padding: auto;
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/back-gym.jpg);
    background-size: 1500px;
}



main h3{
    color: rgb(99, 199, 99);
    background-color: black;
    text-align: center;
    margin: auto;
    padding: auto;
    border-radius: 30px;
    gap: 10px;
    
}

main h4{
    background-color: #3e6b48;
    color: black;
    text-align: center;
    margin: auto;
    padding: auto;
    border-radius: 30px;
}

main .primerTexto,.segundoTexto, .tercerTexto{
    
    text-align: center;
}

header nav ul li{
    list-style: none;
    display: grid;
    justify-content: start;

}

nav ul li a{
    align-items: center;
    color: black;
    background-color: rgb(99, 199, 99);
    padding: 5px;
    margin-bottom: 5px;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 3px 2px 5px black ;
    text-decoration: none;
}
.fondo-2{
    border-radius: 30px;
}

.fondo-3{
    border-radius: 30px;
}

.fondo-4{
    border-radius: 30px;
}

.fondo-5{
    border-radius: 30px;
}


div img{
    width: 200px;
    margin: auto;
    display: block;
}

.video{
    display: flex;
    justify-content: center;
}

.color-menu{
    background-color: rgb(99, 199, 99)
    
}

.navbar-brand{
    margin-bottom: 5px;
    gap: 100px;
    border-radius: 30px;
    box-shadow: 3px 2px 5px black ;
}

.dropdown-menu{
    background-color: rgb(99, 199, 99);
}

.color-parrafo{
    color: black;
}

.titulo-parrafo{
    text-align: center;
}

.formulario{
    color: rgb(99, 199, 99);
}

footer{
    text-align: center;
    background-color: black;
    color: rgb(99, 199, 99);
    border-radius: 30px;
    
}

/*mq*/

@media screen and (max-width:800px){
    header{
        display: block;
        display: flex;
        justify-content: center;
    }
}